//CAROUSEL
.carousel-item__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
  font-size: 13px;
  font-family: 'Georgia', sans-serif;
}
[class|="carousel-control"]{
  width: 20px;
}
.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2376c38f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2376c38f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.carousel-item__img{
  flex: 0 0 380px;
  height: 380px;
  border: 25px solid #6b6b6b;
  border-radius: 50%;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
  }
}

.carousel-item__button{
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .carousel-item__wrapper{
    flex-direction: column;
    justify-content: space-between;
  }
  .carousel-item__img{
    margin-top: 20px;
  }
 } 

 @media (max-width: 585px) {
  .carousel-item__img{
    display: none;
  }
 } 