@import "~bootstrap/scss/bootstrap";
@import './_vars';

@import './blocks/_header';
@import './blocks/_navbar';
@import './blocks/_carousel';
@import './blocks/_works';
@import './blocks/_gallery';
@import './blocks/_preFooter';
@import './blocks/_footer';


body{
  background-color: #660000;
  font-size: 13px;
  color: #fff;
  font-family: 'Georgia', sans-serif;
}